<div *ngIf="need" class="cupboard-need" (click)="sendData()">
  <div class="row">
    <h3 class="need-title">{{ need.name }}</h3>
    <div style="display: flex; gap: 10px">
      <app-delete-need [need]="need" (dataFromChild)="sendUpdateNeeds()" (click)="$event.stopPropagation()"></app-delete-need>
      <app-edit-need [need]="need" (dataFromChild)="sendUpdateNeeds()" (click)="$event.stopPropagation()"></app-edit-need>
      <button *ngIf="!this.authService.isAdmin()" class="basket-button" (click)="addToBasket();$event.stopPropagation()"></button>
    </div>
  </div>
  <p class="need-description">{{ need.description }}</p>

  <div class="need-info-row">
    <div class="info-box">
      <span class="info-label">Cost:</span>
      <span class="info-value">{{ need.cost | currency }}</span>
    </div>
    <div class="info-box">
      <span class="info-label">Demand:</span>
      <span class="info-value">{{ need.demandRating + "%"}}</span>
    </div>
    <div class="info-box">
      <span class="info-label">Quantity:</span>
      <span class="info-value">{{ need.quantity }}</span>
    </div>
    <div class="info-box">
      <span class="info-label">Fulfilled:</span>
      <span class="info-value">{{ need.fulfillmentStatus }}</span>
    </div>
  </div>
</div>
