.profile-container {
  margin: 2vh;
  min-height: 70vh;
  font-family: Arial, sans-serif;
}

.head{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.link{
  color: var(--baseOrange);
}

.link:hover{
  cursor: pointer;
  color: var(--hoverOrange);
}

.row{
  display: flex;
  flex-direction: row;
}

.stat-button{
  background-color: var(--baseOrange);
  color: #000;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  border: 0px;
  transition: border-color 0.3s ease;
  padding: 10px 20px;
  transition-duration: 0.4s;
  margin-left: 0vh;
}

.stat-button:hover{
  cursor: pointer;
  background-color: var(--hoveredOrange);
}

.god-text {    
  padding: 10px;
  padding-left: 15px;
  padding-right: 25px;
  background-image: linear-gradient(rgba(255, 245, 110, 0.705), rgba(234, 190, 79, 0.705));
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.stats-container {
  width: 40vh;
  position: absolute;
  margin-top: 1vh;
  margin-left: 3vw;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.stats-show{
  border-color: var(--baseOrange);
  border-style: solid;
  border-radius: 12px;
  background-color: rgb(250, 250, 250);
  padding: 2vh;
  margin-top: 2vh;
}

.stats-header {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.stats-list {
  align-items: center;
}

.profile-box {
  padding: 2vh;
  border-radius: 1vh;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.profile-box img {
  height: 18vh;
  border-radius: 50%;
}

.pic-container {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
}

.username {
  font-size: x-large;
  padding: 2vh;
}

.profileSection {
}

.button-area{
  position: absolute;
  right: 3vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.edit-button-section{
  margin-left: 19vw;
  max-width: 63vw;
  margin-top: -8.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.error{
  color: rgb(154, 5, 5);
}

.file-input {
  display: none; /* Hide the default input */
}

.file-upload-button {
  background-color: var(--baseOrange);
  color: #000;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  border: 0px;
  transition: border-color 0.3s ease;
  padding: 10px 20px;
  transition-duration: 0.4s;
  margin-left: 2vh;
}

.file-upload-button:hover {
  background-color: var(--hoveredOrange); /* Darker shade of orange */
  cursor: pointer;
}

.popup-area {
  position: fixed;
  top: 22vh;
  right: 1vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.popup {
  background-color: rgba(241, 176, 97, 0.3);
  border-radius: 10px;
  white-space: nowrap;
  display: inline-block;
  box-sizing: border-box;
  padding: 1vw;
}

@media only screen and (max-width: 600px) {

  .username {
    font-size: large;
  }

  .button-area{
      right: -1vw;
      top: 23vh;
      display: flex;
    }

    .edit-button-section{
      margin-top: 1vh;
      max-width: 90vw;
      margin-left: 0;
    }

    .stats-container {
      margin-top: -7vh;
    }

    .stat-button{
      border-radius: 5px;
      height: 50px;
      margin-top: -2vh;
      margin-left: -1vw;
    }

    .profile-container {
      margin-top: 10vh;
    }
}