.main {
  margin: 2vh;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2vh;
}

.username {
  font-size: x-large;
  font-weight: 500;
}

.profilePic {
  width: 24vh;
  height: 24vh;
  margin-left: 20px;
  margin-right: 40px;
  margin-top: -1vh;
}
