<ul class="popup-area">
  <div class="popup" *ngFor='let message of messageService.messages' @fade> {{message.message}} </div>
</ul>

<div class="button-area">
<app-view-change-button [text]="'Home'" [icon]="' fa-solid fa-home'" [path]="'home'"></app-view-change-button>
</div>
<div class="profile-container">
      <div class="head">
      <label *ngIf="!this.authService.isAdmin()" class="username">Welcome to your profile, <b>{{this.authService.getName()}}</b></label>
      <div class="pic-container">
        <app-profile-pic></app-profile-pic>
      </div>
      <br>
        <label *ngIf="userIsGod"><b>You are the U-Fund God!</b></label>
      <br>
        <div class="stats-container">
          <span class="stats-header">Your Stats</span><br>
          <div class="stats-list">
            <span><b>Money Funded: </b>{{ currentUserAccount?.moneyFunded | currency }}</span><br>
            <span><b>Needs Funded: </b>{{ currentUserAccount?.needsFunded}}</span><br>
            <app-user-level *ngIf="this.allAccounts.length > 0" [currentUserAccount]="currentUserAccount!" [allAccounts]="allAccounts"></app-user-level>
          </div>
            <app-level-progress-bar *ngIf="this.allAccounts.length > 0" [currentUserAccount]="currentUserAccount!" [allAccounts]="allAccounts"></app-level-progress-bar>
        </div>
       </div>
      <div class="edit-button-section">
          <input type="file" id="fileInput" class="file-input" (change)="onFileSelected($event)" accept="image/*"/>
          <label for="fileInput" class="file-upload-button">
              <i class="fa-solid fa-file-arrow-up"></i> Upload New Picture
          </label>

          <app-edit-profile class="edit-profile-btn" [profileInfo] = "this.profileInfo" (dataFromChild)="this.setProfileInfo($event)"></app-edit-profile>
      </div>
      <app-profile-section class="profileSection" *ngIf="this.accountName" [other]= "true" [accountName]="this.accountName" [profileInfo]="this.profileInfo"></app-profile-section>
</div>
