<app-view-change-button [text]="'Home'" [icon]="' fa-solid fa-home'" [path]="'home'"></app-view-change-button>
<div class="profile-container">
    <div class="profile-box">
      <div class="flex-container">
        <img src="assets/Paws&Claws.png">
        <label *ngIf="!this.authService.isAdmin()" class="username">{{this.authService.getName()}}</label>
      </div>
      <app-edit-profile class="edit-profile-btn" [profileInfo] = "this.profileInfo" (dataFromChild)="this.setProfileInfo($event)"></app-edit-profile>
      <app-profile-section class="profileSection" *ngIf="this.accountName" [accountName]="this.accountName" [profileInfo]="this.profileInfo"></app-profile-section>
    </div>
</div>
