<div class="main">
    <div class="button-area">
        <app-view-change-button [text]="'Home'" [icon]="' fa-solid fa-home'" [path]="'home'"></app-view-change-button>
    </div>
    <div class="profile-container">
        <br>

        <div class="pic-box">
            <div *ngIf="this.profileInfo.privacy == 'Public'" class="pic-container">
                <img class="profile-pic" src={{this.imageLink}}>
            </div>
        </div>

        <div class="block no-info" *ngIf="this.profileInfo.privacy == 'Private'">
            <p>This account is private!</p>
        </div>

        <app-profile-section *ngIf="this.profileInfo.privacy == 'Public'" [accountName]="this.accountName"
            class="profileSection" [profileInfo]="this.profileInfo"></app-profile-section>

    </div>

</div>