.god-box {    
    padding: 10px;
    padding-left: 15px;
    padding-right: 25px;
    background-image: linear-gradient(rgba(255, 245, 110, 0.705), rgba(234, 190, 79, 0.705));
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-top: 1vh;
  }

  .god{
    text-align: center;
    color: rgb(60, 48, 30);
    font-weight: 800;
    margin-bottom: -5vh;
  }

  .row{
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
  
  .pic{
    align-self: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
  }

  .god-title {
    font-size: 1.3rem;
    font-weight: 600;
    width: 100%;
    color: #c6af01;
    margin-left: 1vw;
  }
  
  /* Hover effect for the entire item */
  .god-box:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  