/* Just some generic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.logo{
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 40px;
}

header {
    background-color: var(--baseOrange);;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: left;
    border-radius: 6px;
}

header h1 {
    color: #fff; /* White text */
    font-size: 2.5rem; /* Increase font size for the title */
    letter-spacing: 2px; /* Space out the letters */
}