/* Just some generic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.logo{
    align-content: center;
    width: 8vh;
    height: 8vh;
    margin-left: 20px;
    margin-right: 40px;
}

.row{
    display: flex;
    align-items: center;
    flex-direction: row;
}

header {
    background-color: var(--baseOrange);;
    padding: 2vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    text-overflow: wrap;
}

.pic{
    align-content: center;
    margin-right: 20px;
}

header h1 {
    color: #fff; /* White text */
    font-size: calc(min(4vh, 4vw)); /* Increase font size for the title */
    letter-spacing: 2px; /* Space out the letters */
    margin-right: 40px;
    align-content: center;
}