.main { 
    margin: 2vh; 
  }

  .button-area{
    position: absolute;
    right: 3vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }

  @media only screen and (max-width: 600px) {

    .button-area{
        right: -1vw;
        top: 23vh;
        display: flex;
      }
  }