<div>
    <mat-dialog-content>
        <form [formGroup]="createNeedForm" (ngSubmit)="onSubmit()">
            <div fxLayout="column" fxLayoutAlign="center center">
                <div fxFlex="100%">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" />
                    </mat-form-field>
                </div>
                <div fxFlex="100%">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="description" />
                    </mat-form-field>
                </div>
                <div fxFlex="100%">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Cost</mat-label>
                        <input matInput formControlName="cost" />
                    </mat-form-field>
                </div>
                <div fxFlex="100%">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Demand Rating</mat-label>
                        <input matInput formControlName="demandRating" />
                    </mat-form-field>
                </div>
                <div fxFlex="100%">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Quantity</mat-label>
                        <input matInput formControlName="quantity" />
                    </mat-form-field>
                </div>

                <button mat-button type="submit" [disabled]="createNeedForm.invalid">Save</button>
                <button mat-button mat-dialog-close>Cancel</button>
            </div>
        </form>
    </mat-dialog-content>
</div>
