<div class="badges-container">
    <img matTooltip="Mr. Phil N. Tropist's Suit (Badge)" *ngIf="showSuit()" class = "badgeSuit badge" src = "../../assets/tropist_suit.png">
    <img matTooltip="Mr. Phil N. Tropist's Hat (Badge)"*ngIf="showHat()" class = "badgeHat badge" src = "../../assets/tropist_hat.png">
    <img matTooltip="Mr. Phil N. Tropist's Pipe (Badge)"*ngIf="showPipe()" class = "badgePipe badge" src = "../../assets/tropist_pipe.png">
    <img matTooltip="Mr. Phil N. Tropist's Frequent Fliers Card (Badge)" *ngIf="showCard()" class = "badgeCard badge" src = "../../assets/tropist_card.png">
  </div>