<!-- <ng-container *ngIf="control">
    <mat-error *ngIf="control?.hasError('required') && (control?.dirty || control?.touched)">
        {{ fieldName }} is required.
    </mat-error>
    <mat-error *ngIf="control?.hasError('pattern') && errorMessages['pattern']">
        {{ errorMessages['pattern'] }}
    </mat-error>
    <mat-error *ngIf="control?.hasError('min') && errorMessages['min']">
        {{ errorMessages['min'] }}
    </mat-error>
    <mat-error *ngIf="control?.hasError('max') && errorMessages['max']">
        {{ errorMessages['max'] }}
    </mat-error>
</ng-container> -->
