<div class="main">
    <app-view-change-button *ngIf="!isAdmin" [text]="'View Basket'" [icon]="' fa-solid fa-basket-shopping '" [path]="'basket'"></app-view-change-button>
    <br *ngIf="!isAdmin"><br *ngIf="!isAdmin"><br *ngIf="!isAdmin">
    <app-view-change-button *ngIf="!isAdmin" [text]="'Profile'" [icon]="' fa-solid fa-user '" [path]="'profile'"></app-view-change-button>
    <br *ngIf="!isAdmin"><br *ngIf="!isAdmin"><br *ngIf="!isAdmin">
    <app-view-change-button [text]="'Logout'" [icon]="' fa-solid fa-right-from-bracket '" (click) = this.authService.logout();></app-view-change-button>
    <ul class="popup-area">
        <div class="popup" *ngFor='let message of messageService.messages' @fade> {{message.message}} </div>
      </ul>
    <app-cupboard-search></app-cupboard-search>
</div>
