<div class="main">
  <app-leaderboard></app-leaderboard>
    
    <ul class="popup-area">
        <div class="popup" *ngFor='let message of messageService.messages' @fade> {{message.message}} </div>
      </ul>

    <div class="body">
      <app-cupboard-search></app-cupboard-search>
      <app-admin-dash *ngIf="isAdmin"></app-admin-dash>
    </div>  
    <div class="button-area">
      <app-view-change-button *ngIf="!isAdmin" [text]="'View Basket'" [icon]="' fa-solid fa-basket-shopping '" [path]="'basket'"></app-view-change-button>
      <app-view-change-button *ngIf="isAdmin" [text]="'Logout'" [icon]="' fa-solid fa-right-from-bracket '" (click) = this.authService.logout();></app-view-change-button>
    </div>
</div>
