.pic {
  border-radius: 50%;
  height: 7vh;
  width: 7vh;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.pic:hover{
  
  box-shadow: 3px 2px 2px;
  transition: .3s
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  display: block;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
}

.dropdown-item {
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  color: black;
}

.dropdown-item:hover {
  background-color: #ddd;
}
