.main {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 2vh;
}

 /* Styling for the search result list */
 .search-result {
    list-style-type: none;
    overflow: auto;
    height: 80vh; /* search height */
    width: 60vw;
    padding: 0;
    margin: 0;
  }

/* Individual result item styling */
.search-result li {
  margin-right: 10px;
  margin-bottom: 10px;
}

/* No results message styling */
.no-results {
  margin-top: 20px;
  font-size: 1rem;
  color: #888;
  text-align: center;
}
