<div class="button-area">
    <app-view-change-button [text]="'Home'" [icon]="' fa-solid fa-home'" [path]="'home'"></app-view-change-button>
</div>
<div class = "lb">
    
    <div class="basket-head"><h3>U-Fund Leaderboard</h3></div>
    <p style="text-align:center"><i>Check out the U-Fund Dashboard on the desktop version of our web app!</i></p>
    <div class = "container">
        <app-leaderboard-god [god] = "god" [isGod] = "isGod"> 
        </app-leaderboard-god>
        <ul class="main">
            <ul class = "leaderboard" *ngIf="(accounts$ | async)?.length !== 0" class="search-result">
                <li *ngFor="let acc of accounts$ | async; let i = index;">
                    <app-leaderboard-account
                    [account]="acc" [index]= "i" [you]="onLeaderboard(i) | async"
                    ></app-leaderboard-account>
                </li>
            </ul>
        </ul>
    </div>
    
  </div>