ul{
    list-style-type: none;
    padding: 0 0 0 0;
    overflow: auto;
}

.main{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    padding-left: 2vw;
    width: 50vw;
    height: 60vh;
}

::ng-deep app-leaderboard-page .god-box{
    width: 46.5vw;
    margin-left: 2.1vw;
}

.basket-head{

    padding-left: 2vw;
}

.lb{
    align-items: center;
    justify-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-area{
    position: absolute;
    right: 3vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }

  @media only screen and (max-width: 600px) {
    .main{
        width: 90vw;
    }

    ::ng-deep app-leaderboard-page .god-box{
        width: 75vw;
        margin-left: 2.1vw;
    }

    .button-area{
        right: -1vw;
        display: flex;
      }
  }