<div class="profile-section" *ngIf="!(!profileInfo?.alias && (!profileInfo?.region || profileInfo.region === Region.NONE) && !profileInfo?.pronouns && !profileInfo?.bio && !profileInfo?.email && !profileInfo?.phoneNumber && !profileInfo?.ssn && profileInfo.privacy == 'Private')">
  <div class="block" *ngIf="profileInfo?.alias">
    <p><span>Alias:</span> {{ profileInfo.alias }}</p>
  </div>
  <div class="block" >
    <p><span>Region:</span> {{ profileInfo.region }}</p>
  </div>
  <div class="block" >
      <p><span>Pronouns:</span> {{ profileInfo.pronouns }}</p>
  </div>
  <div class="block" >
      <p><span>Bio:</span> {{ profileInfo.bio }}</p>
  </div>
  <div class="block" >
      <p><span>Email:</span> {{ profileInfo.email }}</p>
  </div>
  <div class="block" >
      <p><span>Phone Number:</span> {{ profileInfo.phoneNumber }}</p>
  </div>
  <div class="block" >
      <p><span>SSN:</span> {{ profileInfo.ssn }}</p>
  </div>
  <div *ngIf="profileInfo.privacy == 'Private'" class="block"> <!--purposefully unreachable mwahahaha-->
    <p><span>Account Privacy:</span> {{ profileInfo.privacy }}</p>
</div>
</div>

<div class="block no-info" *ngIf="!profileInfo?.alias && (!profileInfo?.region || profileInfo.region === Region.NONE) && !profileInfo?.pronouns && !profileInfo?.bio && !profileInfo?.email && !profileInfo?.phoneNumber && !profileInfo?.ssn && profileInfo.privacy == 'Private'">
  <p>Edit your profile to add some info!</p>
</div>
