.profile-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-top: 20px;
  margin-left: 20vw;
}

.profile-section p {
  font-size: 16px;
  margin: 5px 0;
}

.profile-section p span {
  font-weight: bold;
}

.no-info {
  margin-top: 20px;
  font-size: 1rem;
  color: #888;
  text-align: center;
  align-self: center;
  width: 60vw ;
  margin-left: 20vw;
}

.block{
  max-width: 60vw ;
  padding: 1vh;
  padding-left: 2vh;
  padding-right: 1vw;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-bottom: 1vh;
}

@media only screen and (max-width: 600px) {
  .block{
    max-width: 86vw;
    width: 86vw;
  }

  .profile-section {
    margin-left: 0;
  }
}