<div class="main">
  <div id="search-component" class="search-container">
    <label *ngIf="!this.authService.isAdmin()" class="login"> Logged in as: "{{this.authService.getName()}}"</label>
    <app-profile-pic></app-profile-pic>
    <hr><hr>
    <label for="search-box" class="search-title">Need Search </label>
    <div style="display: flex">
      <input
        #searchBox
        id="search-box"
        (input)="search(searchBox.value)"
        class="search-input"
      />
      <app-create-need (dataFromChild)="updateNeeds()"></app-create-need>
    </div>

    <ul *ngIf="(needs$ | async)?.length !== 0" class="search-result">
      <li *ngFor="let need of needs$ | async">
        <app-cupboard-need
          (dataFromChild)="selectNeed($event); updateNeeds()"
          [need]="need"
        ></app-cupboard-need>
      </li>
    </ul>

    <div *ngIf="(needs$ | async)?.length === 0" class="no-results">
      No needs found.
    </div>
  </div>

  <app-single-need [need]="selected"></app-single-need>
</div>
