<div class="progress-container">
  <div class="progress-bar">
    <div
      class="progress-fill"
      [style.width.%]="progress"
      [attr.aria-valuenow]="progress"
      [attr.aria-valuemin]="0"
      [attr.aria-valuemax]="100">
    </div>
  </div>
  <div class="progress-labels">
    <span *ngIf="proRequired">Pro: {{proRequired | currency}}</span>
    <span *ngIf="masterRequired">Top 5%: {{masterRequired | currency}}</span>
    <span *ngIf="championRequired">Champion: {{championRequired | currency}}</span>
  </div>
  <div class="progress-percentage">{{ progress | number: '1.0-0' }}%</div>
</div>
