<span *ngIf="userLevel != UserLevel.CHAMPION"><b><i>Progress to next level:</i></b></span>
<div *ngIf="userLevel != UserLevel.CHAMPION" class="progress-container">
  <div class="progress-bar">
    <div
      class="progress-fill"
      [style.width.%]="progress"
      [attr.aria-valuenow]="progress"
      [attr.aria-valuemin]="0"
      [attr.aria-valuemax]="100">
      <span class="progress-percentage" [ngStyle]="getDynamicProgressStyle()">{{ progress | number: '1.0-0' }}%</span>
    </div>
  </div>
  <div class="progress-labels">
    <span *ngIf="proRequired"><i>Pro Criteria: Donation Goal ({{proRequired | currency}})</i></span>
    <span *ngIf="masterRequired"><i>Master Criteria: Top 5% ({{masterRequired | currency}})</i></span>
    <span *ngIf="championRequired"><i>Champion Criteria: Top Donator: ({{championRequired | currency}})</i></span>
  </div>
</div>
