<div class="main">
  <header>Name</header>
  <header>Profile pic</header>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div fxFlex="100%">
        <mat-form-field appearance="outline" class="form-field" subscriptSizing="dynamic">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
          <mat-error>
            {{ getErrorMessage(profileForm.get('name'), 'Name', {}) }}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100%">
        <mat-form-field appearance="outline" class="form-field" subscriptSizing="dynamic">
          <mat-label>Bio</mat-label>
          <input matInput formControlName="bio" />
          <mat-error>
            {{ getErrorMessage(profileForm.get('bio'), 'Bio', {}) }}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100%">
        <mat-form-field appearance="outline" class="form-field" subscriptSizing="dynamic">
          <mat-label>Region of NYS</mat-label>
          <mat-select formControlName="region">
            <mat-option value="">Prefer not to say</mat-option> <!-- Option to clear selection -->
            <mat-option value="" disabled>Select a region</mat-option>
            <mat-option *ngFor="let region of regions" [value]="region">{{ region }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
</div>
