<html>
<div class="main">
    <div class = "input-container">
        <label class="login-title" for="login-box">Please enter a valid username:</label>
        <input id="login" class="login-input" (keydown)="submitEnter($event, userBox.value, passwordBox.value)" type="text" #userBox id="login-box" />
    </div>
    <br />
    <div class = "input-container">
        <label class="login-title" for="login-box">Please enter a valid password:</label>
        <input id="login" class="login-input" (keydown)="submitEnter($event, userBox.value, passwordBox.value)" type="text" #passwordBox id="login-box" />
    </div>
    <button class="login-button" type="button" (click)="login(userBox.value, passwordBox.value)">
        Login
    </button>
     <ul class="error-area">
        <div class="popup" *ngFor='let message of messageLoginService.messages'> {{message.message}} </div>
    </ul>
</div>

</html>